<!DOCTYPE html>
<html lang="en">
<head>
<script>
    function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('clock_p').innerHTML = 
    today.getDate()+"-"+ today.getMonth()+"-"+today.getFullYear()+ "|"+h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
</head>

<body onload="startTime()">
    <nav><button onclick="submit_button()">send</button>
    <li id="nav_status" style="display:inline">   waiting for connection</li>
    </nav>    
    <br><br><br>  
    <!-- #2E3436 black-->
<style>
    body{
        background-color:#171421;
        color: #55FF55;
        font-family: 'Fira Mono';
    }
    .class1{
        color: #5555FF;
        display: inline;
    }
    #clock_p{
        display: inline;
    }
    .input_class{
        display:inline;
    }
    .client_class{
        color:#5555FF;
        font-family: 'Fira Mono';
        display:inline;
    }
    
</style>
    <div id = "room1"></div>
    <div id = "clock_p" ></div>
    <div class = "class1">~></div>
    <div class = "input_class"><input type="text" id="main_input"></div>
    <script src="script_admin.js"></script>

</body>
</html>