<!DOCTYPE html>
<html lang="en">
<head>
<script>
    function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('clock_p').innerHTML = 
    today.getDate()+"-"+ today.getMonth()+"-"+today.getFullYear()+ "|"+h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
</head>


<body onload="startTime()">
<nav><button onclick="submit_button()">send</button>
<li id="nav_status" style="display:inline">   waiting for connection</li>
</nav>    
<br><br><br>
    <!-- #2E3436 black-->
<style>
    body{
        background-color:#171421;
        color: #55FF55;
        font-family: 'Fira Mono';
    }
    .class1{
        color: #5555FF;
        display: inline;
    }
    #clock_p{
        display: inline;
    }
    .admin_class{
        color:#5555FF;
        font-family: 'Fira Mono';
        display:inline;
    }
    .input_class{
        display: inline;
    }
    
</style>
    <div id = "room1"></div>
    <div id = "clock_p" ></div>
    <div class = "class1">~></div>
    <div class = "input_class"><input type="text" id="main_input"></div>
    <script>
    var input = document.getElementById("main_input");

const ws = new WebSocket("ws://13.232.23.83:8080");
ws.addEventListener("open",()=>{
	console.log("we are connected");
    ws.send("1");
});

ws.addEventListener("message",data=>{
    console.log(`server has sent us ${data.data}`);
    record_message(data.data);
});

function record_message(data){
    var mess = JSON.parse(data);
    if(mess.sent_data=="co-nn-ect-ed"){
        const stat = document.getElementById("nav_status");
        stat.innerText="   connected"; 
        return;
    }
    var para = document.createElement("p");
    para.className = "admin_class";
    para.innerText = mess.date_time+" ~>"+mess.sent_data+"\n";
    document.getElementById("room1").appendChild(para);
}


input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   read_now(input.value);
  }
});

function submit_button(){
	read_now(input.value);
}

function read_now(data){
    console.log(`sending data : ${data}`);
	const abc = JSON.stringify({
		user : "client",
		date_time : get_time(),
		sent_data : data
	});
	ws.send(abc);
    add_element(data);
	console.log(abc);
}

function check(i) {
    if (i < 10) {i = "0" + i};  
    return i;
  }

function get_time(){
	var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = check(m);
    s = check(s);
    date_text = today.getDate()+"-"+ today.getMonth()+"-"+today.getFullYear()+ "|"+h + ":" + m + ":" + s;
    return date_text;
}

function add_element(data){
    date_text = get_time();
    var text = date_text + " ~>" +data + '\n';
    var para = document.createElement("p");
    para.innerText = text;
    para.style = "display:inline";
    document.getElementById("room1").appendChild(para);
}
</script>

</body>
</html>
